*
{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/free-photo/indonesia-metallic-flag-textured-flag-grunge-flag_559531-11204.jpg?w=996&t=st=1672810794~exp=1672811394~hmac=18603b58c55e1a5106fab1283646788b5a7e1be9fe041ab70f419e573be47b75');
    background-size: cover;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li
{
    float:left;
}

ul li a
{
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

#pempek
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic2
{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom
{
    width: 60%;
    padding: 80px;
    padding-bottom: 20px;
    font-size: 25px;
    color: black;
    font-weight: 800;
}